.login {
  background-image: url("http://localhost:8000/images/background.jpg");
  object-fit: cover;
}
.login-form {
  background-color: rgba(192, 192, 192, 0.603);
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
}
